# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven things
target/
dependency-reduced-pom.xml

*.DS_Store
src/main/html/node_modules/

.metadata/

# Eclipse Shit
.classpath
.project
.settings/
.bin/

# IntelliJ MR
.idea/

# NodeJS Stuff
**/package-lock.json
**/yarn.lock
